.result-container {
    background-color: #ffffff;
    width: 90%;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 5px 0 5px 0;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    width: auto;
    height: 40px;
    
    
}

.result-title {
  color: #515151;
  font-size: 14px;
  font-weight: bold;
  align-items: left;
}

.result-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #515151;
  font-size: 14px;
  margin: 0;
}